/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
    width: 100vw;
    height: 100vh;
}
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .cell {
    flex-grow: 0.25;
    border: 1px solid black;
  }

  .day {
    width:200px;
    display: block;
    margin: 15px;
    text-align: center;
        
  }

  h1 {
      text-align: center;
  }

  img {
      width: 100px;
  }
  
  @media (max-width: 780px) {
    .cell {
      width: calc(50% - 2px)
    }
  }
  
  @media (max-width: 360px) {
    .cell {
      width: calc(100% - 2px)
    }
  }